
body{
  padding: 5rem;
}

.grid-container {
  display: inline-block;
  margin-top: 20px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.grid-cell input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background: none;
  outline: none;
}

.grid-cell.path {
  background-color: #90ee90;
}

.grid-cell.source {
  background-color: #add8e6;
}

.grid-cell.destination {
  background-color: #ffcccb;
}
